<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716994209447-vk8htn5t01b1shikcg57p36f01if0dc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716994209447-vk8htn5t01b1shikcg57p36f01if0dc8</string>
	<key>API_KEY</key>
	<string>AIzaSyBiUVVXqMVPlQ_FYV5lAKI4zBzTohv4t-A</string>
	<key>GCM_SENDER_ID</key>
	<string>716994209447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whitehyun.WhiteHyunChat</string>
	<key>PROJECT_ID</key>
	<string>white-chat-2c36c</string>
	<key>STORAGE_BUCKET</key>
	<string>white-chat-2c36c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716994209447:ios:3d1f015f0cd7ec679e1d82</string>
</dict>
</plist>